@using WordFLux.ClientApp.Services
@inject ApiClient ApiClient
<PageTitle>Decks</PageTitle>


<div class="input-group" disabled="@IsLoading">
    <form @onsubmit="Save" class="d-flex w-100">
        <input @bind="DeckName" type="text" class="form-control" placeholder="How I met your mother s1e1" aria-label="New deck name">
        <button class="btn btn-outline-dark" type="submit"><i class="bi bi-floppy"></i></button>
    </form>
</div>


@code
{
    [Parameter] public EventCallback OnStateChanged { get; set; }

    bool IsLoading { get; set; }

    string? DeckName { get; set; }
    string? Error { get; set; }

    private async Task Save()
    {
        if (string.IsNullOrEmpty(DeckName))
        {
            Error = "Name can't be empty";

            return;
        }

        await ApiClient.CreateDeck(DeckName);
        await OnStateChanged.InvokeAsync();
    }
}