@using WordFLux.ClientApp.Models
@using WordFLux.ClientApp.Services
@using WordFlux.Contracts
@inject WeatherApiClient ApiClient
@inject NavigationManager Navigation
<PageTitle>Decks</PageTitle>

<div class="card deck-card shadow-sm h-100" @onclick="NavigateToDetails">
    <div class="card-body">
        <h5 class="card-title">@Deck.Name</h5>
        <p class="card-text">Cards: @Deck.CardsCount</p>
        <p class="card-text">Created: @Deck.CreatedAt.ToString("d")</p>
    </div>
</div>

@code
{
    [Parameter] public DeckDto Deck { get; set; } = null!;

    private void NavigateToDetails()
    {
        Navigation.NavigateTo($"/decks/{Deck.Id}/cards");
    }
}