@using WordFLux.ClientApp.Services
@using WordFlux.Contracts

@inject ApiClient HttpClient

@*
<label for="exampleDataList" class="form-label">Datalist example</label>
*@

@*<input @bind="Term" @bind:event="oninput" class="form-control" id="exampleDataList" @onkeyup="OnKeyDown" >*@

<div class="autocomplete-container" @onfocusout="ResetAutoComplete">
    <input @bind="Term" @bind:event="oninput" @onfocus="Search" @bind:after="Search" class="form-control"  @onkeyup="OnKeyDown" id="exampleDataList" placeholder="Type to search...">

    <div class="list-group position-absolute z-1">

        @foreach (var item in AutocompleteOptions)
        {
             <button @onclick="() => SelectSuggestedAutocomplete(item.Term)" type="button" class="list-group-item list-group-item-action">@item.Term → @item.TermTranslated </button>
        }
    </div>
</div>






@code {
    List<AutocompleteItem> AutocompleteOptions { get; set; } = [];
    [Parameter] public string? Term { get; set; }
    [Parameter] public string? LanguageSource { get; set; }
    [Parameter] public string? LanguageDestination { get; set; }
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    [Parameter] public EventCallback<string> OnTermChanged { get; set; }
    CancellationTokenSource _cancellationTokenSource = new();
    
    protected override void OnInitialized()
    {
        Console.WriteLine("On initializing TranslationAutocomplete Page");

        Console.WriteLine("Initialized TranslationAutocomplete - completed");
        
        base.OnInitialized();
    }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("OnParametersSetAsync TranslationAutocomplete Page");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender TranslationAutocomplete Page. FirstRender = {firstRender}");
    }

    private async Task Search()
    {
        await OnTermChanged.InvokeAsync(Term);
        await _cancellationTokenSource.CancelAsync();

        if (string.IsNullOrWhiteSpace(Term))
        {
            AutocompleteOptions = [];
            return;
        }

        Task.Run(async () =>
        {
            Console.WriteLine("Creating new timer");
            _cancellationTokenSource = new();
            using var periodicTimer = new PeriodicTimer(TimeSpan.FromMilliseconds(300));
            var tick = await periodicTimer.WaitForNextTickAsync(_cancellationTokenSource.Token);

            Console.WriteLine("Ticking " + tick);

            if (tick)
            {
                await SearchForCompletions(Term, _cancellationTokenSource.Token);
                Console.WriteLine("Disposing periodic timer");
            }
            
        });
    }

    private async Task SearchForCompletions(string str, CancellationToken token)
    {
        if (LanguageSource == null || LanguageDestination == null)
        {
            return;
        }

        var completions = await HttpClient.SearchForCompletionsWithTranslations(str, LanguageSource, LanguageDestination, token);
        AutocompleteOptions = completions.Items;
        await InvokeAsync(StateHasChanged);
    }

    private async Task SelectSuggestedAutocomplete(string item)
    {
        await OnSearch.InvokeAsync(item);
        AutocompleteOptions = [];
    }

    private async Task ResetAutoComplete()
    {
        await _cancellationTokenSource.CancelAsync();
        await Task.Delay(200);
        AutocompleteOptions = [];
        
        /*Task.Run(async () =>
        {
            Console.WriteLine("Reset auto complete");
            await DisposePeriodicTimer();
            await Task.Delay(100);
            AutocompleteOptions = [];
            await InvokeAsync(StateHasChanged);
        });*/

    }

  

    private async Task OnKeyDown(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
        {
            await ResetAutoComplete();
            await OnSearch.InvokeAsync(Term);
        }
    }

}