<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear /> <!-- This clears all default sources. Remove this line if you want to keep the default NuGet.org source. -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- Add more package sources if needed -->
    </packageSources>
</configuration>
