@using WordFLux.ClientApp.Services
@inject IJSRuntime JS
@inject WeatherApiClient HttpClient

<i class="bi bi-music-note" @onclick="PlaySound2" style="cursor: pointer"></i>

<audio id="sound" class="d-none" autoplay src="@SoundUrl" controls style="max-width: 500px; width: 100%;">
    Your browser does not support the HTML audio tag.
</audio>

@*
<div class="row align-items-center">
    <!-- Button Column -->
    <div class="col-auto">
        <button class="btn btn-outline-dark" @onclick="PlaySound2">
            <i class="bi bi-music-note-list"></i>
        </button>
    </div>
    <!-- Audio Player Column -->
    @if(SoundUrl != null)
    {
    <div class="col d-none">
        <audio id="sound" autoplay src="@SoundUrl" controls style="max-width: 500px; width: 100%;">
            Your browser does not support the HTML audio tag.
        </audio>
    </div>
    }
</div>
*@


@code {
    [Parameter] public string? Term { get; set; }
    public string? SoundUrl { get; set; }

    protected override void OnParametersSet()
    {
        SoundUrl = null;
    }

    private async Task PlaySound2()
    {
        if (string.IsNullOrWhiteSpace(Term))
        {
            return;
        }

        if (SoundUrl != null)
        {
            SoundUrl = null;
            StateHasChanged();
        }

        SoundUrl = await HttpClient.GetAudioLink(Term);

        // Put the bytes in a memory stream
        /*var stream = new MemoryStream(audioResult);
        // Play the audio file
        using var streamRef = new DotNetStreamReference(stream: stream);


        var url = await JS.InvokeAsync<string>("CreateBlob", streamRef);*/
        //await JS.InvokeVoidAsync("RevokeUrl", SoundUrl);

        /*await JS.InvokeVoidAsync("PlayAudioFileStream", streamRef, alreadyPlayed);
        alreadyPlayed = true;*/

        /*showPlayer = true;
        SoundUrl = "";
        StateHasChanged();

        SoundUrl = "https://localhost:7443/audio?term=test";
        //isPlaySound = false;
        StateHasChanged();
        //isPlaySound = true;*/
    }

}