@page "/decks"
@attribute [Authorize]
@using WordFLux.ClientApp.Components
@using WordFLux.ClientApp.Services
@using WordFlux.Contracts
@inject WeatherApiClient ApiClient
<PageTitle>Decks</PageTitle>


<div class="container">
    <div class="row mb-3">
        @foreach (var deck in DeckCollection)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <DeckTableItem Deck="deck"/>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-12">
            <AddNewDeck />
        </div>
    </div>
</div>

@code
{
    List<DeckDto> DeckCollection { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await RefreshDecks();
    }

    private async Task RefreshDecks()
    {
        DeckCollection = await ApiClient.GetDecks();
    }
}