@page "/decks/{DeckId:guid}/cards"
@attribute [Authorize]
@using WordFLux.ClientApp.Services
@using WordFlux.Contracts
@using WordFLux.ClientApp.Components
@inject WeatherApiClient ApiClient
@inject NavigationManager Navigation

<PageTitle>Decks</PageTitle>


<div class="container">
    @if (InitialStateLoading)
    {
        <div>
            Loading...
        </div>
    }
    else
    {
        @if (Deck == null)
        {
            <div class="alert alert-danger">
                We couldn't found anything on this page. <span class="emoji" style="font-size: 20px">🤷‍♀️</span>
            </div>
        }
        else
        {
            <DeckHeader Deck="Deck" OnDeckChanged="d => Deck = d"/>

            <div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="grid-container">
                            @foreach (var card in Cards)
                            {
                                <div class="card shadow-sm position-relative">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">@card.Term</h5>
                                        <p class="card-text">@card.Translations.FirstOrDefault()?.Term</p>
                                    </div>

                                    <!-- Button block that appears just below the card on hover -->
                                    <div class="card-buttons">
                                        <button class="btn btn-outline-danger btn-sm p-1 m-1" @onclick="() => RemoveCard(card)" title="Remove">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button class="btn btn-outline-secondary btn-sm p-1 m-1" @onclick="() => ShowDetails(card)" title="Details">
                                            <i class="bi bi-info-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


@code
{
    [Parameter] public Guid? DeckId { get; set; }
    DeckDto? Deck { get; set; }
    bool InitialStateLoading { get; set; }
    List<CardDto> Cards { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        InitialStateLoading = true;

        if (DeckId == Guid.Empty || DeckId == null)
        {
            return;
        }

        Deck = (await ApiClient.GetDecks()).FirstOrDefault(d => d.Id == DeckId!.Value);

        if (Deck != null)
        {
            await LoadCards();
        }

        InitialStateLoading = false;
    }

    private async Task Edit(MouseEventArgs obj)
    {
    }

    private async Task LoadCards()
    {
        Cards = await ApiClient.GetCards(DeckId);
    }

    private async Task Remove()
    {
        await ApiClient.RemoveDeck(DeckId!.Value);
        Navigation.NavigateTo("/decks");
    }

    private async Task RemoveCard(CardDto card)
    {
    }

    private async Task ShowDetails(CardDto card)
    {
    }
}