@page "/profile"
@attribute [Authorize]

<PageTitle>My profile</PageTitle>

<div class="container">
    <AuthorizeView>
        <p>Hello, @context.User.Identity?.Name! You're authenticated.</p>
        <a class="btn btn-primary" href="/logout">Log out</a>
    </AuthorizeView>
</div>



@code {

}
