@page "/profile"
@attribute [Authorize]

<PageTitle>My profile</PageTitle>

<div class="container">
    <AuthorizeView>
        <p>Hello, you're authenticated as <span class="fw-bold">@context.User.Identity?.Name!</span> </p>
        <a class="btn btn-outline-danger" href="/logout">Log out</a>

    </AuthorizeView>
</div>



@code {

}
