@page "/counter"
@using WordFlux.Web.Components.Shared
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AudioFromText Term="Привет как дела?"/>

<div id="carouselExampleCaptions" class="carousel slide container" style="max-width: 450px">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1723843038794-97663cc894ba?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2NDc4Mzl8MHwxfGFsbHwyfHx8fHx8Mnx8MTcyNDgwNDAwNHw&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1724458113899-4f4a3e412878?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2NDc4Mzl8MHwxfGFsbHwzfHx8fHx8Mnx8MTcyNDgwNDAwNHw&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1723843038784-ba892b252323?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2NDc4Mzl8MHwxfGFsbHw0fHx8fHx8Mnx8MTcyNDgwNDAwNHw&ixlib=rb-4.0.3&q=80&w=400" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


@code {
    private int currentCount = 0;


    
    private void IncrementCount()
    {
        currentCount++;
    }
}
