.audio-button {
    top: 5px;
    transform: translate(-50%, -50%);
    background: #e1e9f7;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
}

.audio-button:hover {
    background: #1b6ec2;
}

.lang-button {
    padding: 0.2rem;
}