@using WordFLux.ClientApp.Components
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>

        <UpdateAvailableDetector/>

        <article class="content">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="exception">
                    <div class="container mt-3">
                        <div class="alert alert-danger" role="alert">
                            😈 A rotten gremlin got us. Sorry!
                            <div class="mt-3">
                                <button class="btn btn-primary me-2" onclick="window.location.reload();">
                                    Reload Page
                                </button>

                                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#errorDetails" aria-expanded="false" aria-controls="errorDetails">
                                    Toggle Details
                                </button>
                            </div>
                        </div>

                        <div class="collapse mt-3" id="errorDetails">
                            <div class="card card-body">
                                <pre>@exception.ToString()</pre>
                            </div>
                            @if (exception is HttpRequestException httpRequestException)
                            {
                                <div class="card">
                                    <div class="card card-body"><strong>StatusCode: </strong> @httpRequestException.StatusCode</div>
                                </div>
                            }
                          
                        </div>
                    </div>
                </ErrorContent>


            </ErrorBoundary>
        </article>
        <div class="mt-5"></div>
    </main>
</div>


@*
<div id="blazor-error-ui">
    Something went wrong with the site. Reload
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
*@