@using WordFLux.ClientApp.Pages.Shared
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WordFLux</a>
        <Connection>
            <Online>

            </Online>
            <Offline>

            </Offline>
        </Connection>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-1" href="" Match="NavLinkMatch.All">
                <span><i class="bi bi-at"></i></span>Translator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-1" href="lang">
                <span><i class="bi bi-flag"></i></span> Choose language
            </NavLink>
        </div>


        <AuthorizeView>

            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link ps-1" href="review">
                        <span><i class="bi bi-bookmark-star"></i></span> Review
                    </NavLink>
                </div>
                

                <div class="nav-item px-3">
                    <NavLink class="nav-link ps-1" href="offline/translator">
                        <span><i class="bi bi-basket3"></i></span>Basket
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link ps-1" href="profile">
                        <span><i class="bi bi-person-circle"></i></span>My profile
                    </NavLink>
                </div>
            </Authorized>
       
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link ps-1" href="login">
                        <span><i class="bi bi-box-arrow-in-right"></i></span>Log in
                    </NavLink>

                </div>
            </NotAuthorized>
            
            
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}